.nav-About {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.nav-About img {
  width: 90%;
  border-radius: 20px;
  height: 350px;
}

@media screen and (max-width: 760px) {
  .nav-About img {
    height: 100px;
  }
}
