img {
  width: 100%; /* Ajuste la largeur de l'image pour qu'elle corresponde à 100% de la largeur du conteneur */
  height: auto; /* Maintient le ratio de l'image */
  object-fit: cover; /* Remplit le conteneur de l'image sans la déformer */
  max-width: 100%; /* Assure que l'image ne dépasse jamais la largeur de son conteneur */
  border-radius: 8px; /* Optionnel : pour arrondir les bords de l'image */
}

.collapses-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}

.DescrEquip {
  border: 1px solid black;
}

.collapses-logement > .collapse-box {
  width: 47%;
}
